.catalog {
  text-align: center;
  &-container {
    @include for-size(desktop-up) {
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }
  &-img {
    margin-top: 2rem;
    width: 40rem;
    height: 15rem;
    @include for-size(desktop-up) {
      height: 35rem;
      display: inline-block;
      vertical-align: middle;
    }
  }

  &-titleMobile {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 7rem;
    color: $red-run;
    text-align: center;
    @include for-size(desktop-up) {
      display: none;
    }
  }

  &-titleContainer {
    width: 50rem;
    height: 22rem;
    display: inline-block;
    vertical-align: top;
  }

  &-titleDesktop {
    display: none;
    @include for-size(desktop-up) {
      display: block;
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: bold;
      font-size: 7rem;
      line-height: 10.5rem;
      color: $red-run;
      text-align: right;
    }
  }

  &-textContainer {
    width: 35rem;
    height: auto;
    margin: 0 auto;
    @include for-size(desktop-up) {
      display: inline-block;
      margin-left: 6rem;
      vertical-align: bottom;
    }
  }

  &-text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color:$black-run;
    text-align: left;
    margin-top: 3rem;
    @include for-size(desktop-up) {
      margin-top: 0;
    }
  }

  &-arrow {
    margin-top: 4rem;
    animation-name: floating;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  @keyframes floating {
    from {
      transform: translate(0, 0px);
    }

    65% {
      transform: translate(0, 15px);
    }

    to {
      transform: translate(0, -0px);
    }
  }

  &-arrowImg {
    width: 2rem;
    height: auto;
    @include for-size(desktop-up) {
      width: 5rem;
    }
  }
}
