.shoes {
  &-title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: $red-run;
    margin-bottom: 2rem;
    margin-left: 2rem;
    text-align: left;
    @include for-size(desktop-up) {
      display: none;
    }
  }

  &-titleDesktop {
    display: none;
    @include for-size(desktop-up) {
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: bold;
      color: $red-run;
      display: block;
      font-size: 5rem;
      margin-bottom: 2rem;
      text-align: center;
    }
  }

  &-productContainer {
    width: 35rem;
    height: auto;
    margin: auto;
    text-align: center;
    @include for-size(desktop-up) {
      display: block;
      width: 90rem;
    }
  }

  &-product {
    width: 13rem;
    height: 13rem;
    background: #fff;
    box-shadow: $dp8-1;
    box-shadow: $dp8-2;
    box-shadow: $dp8-3;
    border-radius: 2rem;
    margin: 2rem;
    @include for-size(desktop-up) {
      width: 25rem;
      height: 25rem;
      margin: 2rem;
    }
  }
}
