.shoes {

  &-title {
    @include for-size(desktop-up) {
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: bold;
      font-size: 5rem;
      color: $red-run;
      text-align: center;
      margin-bottom: 2rem;
    }
  }

  &-productContainer {
    @include for-size(desktop-up) {
      width: 90rem;
      height: auto;
      margin: 0 auto;
    }
  }

  &-product {
    @include for-size(desktop-up) {
      width: 25rem;
      height: 25rem;
      border: 1px solid black;
      margin: 2rem;
    }
  }
}
