.secondEvent {
  width: 100vw;
  height: 100vh;
  &-containerRight {
    display: none;
    @include for-size(desktop-up) {
      display: block;
      width: 70rem;
      height: auto;
      display: inline-block;
      margin-left: 1rem;
    }
  }

  &-containerLeft {
    display: none;
    @include for-size(desktop-up) {
      display: block;
      position: relative;
      width: 70rem;
      height: auto;
      display: inline-block;
    }
  }

  &-slider {
    display: none;
    @include for-size(desktop-up) {
      display: block;
      width: 70rem;
      height: 100vh;
      display: inline-block;
    }
  }

  &-img {
    display: none;
    @include for-size(desktop-up) {
      display: block;
      width: 74rem;
      height: 50%;
    }
  }

  &-title {
    display: none;
    @include for-size(desktop-up) {
      display: block;
      position: absolute;
      font-size: 5rem;
      margin-top: 8rem;
      text-align: left;
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: bold;
      color: $red-run;
      margin-left: 2rem;
      vertical-align: middle;
    }
  }

  &-arrowImg {
    display: none;
    @include for-size(desktop-up) {
      display: block;
      position: absolute;
      width: 5rem;
      height: auto;
    }
  }

  &-img1 {
    display: none;
    @include for-size(desktop-up) {
      display: block;
      width: 74rem;
      height: 50%;
      margin-bottom: 1.3rem;
    }
  }

  &-mobileContainer {
    width: 100vw;
    height: 100vh;
    @include for-size(desktop-up) {
      display: none;
    }
  }

  &-mobileImg {
    width: 100vw;
    height: auto;
    margin: 1rem 0 1rem 0;
    @include for-size(desktop-up) {
      display: none;
    }
  }
}
