// Font
$font-serif: 'Times', 'Times new roman', serif;
$font-ss: 'Arial', 'Helvetica', sans-serif;

// Color
$red-run: #E6394A;
$black-run: #2B2B2B;
$grey-run: #737373;

// Breakpoint
$bp-tablet: 600px;
$bp-desktop: 949px;
$bp-desktop-large: 1200px;
$bp-desktop-x-large: 1800px;

//Shadow
$dp-1:
 0px 0px 2px 0px rgba(0,0,0,.14);
$dp-2:
 0px 2px 2px 0px rgba(0,0,0,.12);
$dp-3:
 0px 1px 3px 0px rgba(0,0,0,.20);


$dp2-1:
 0px 0px 4px 0px rgba(0,0,0,.14);
$dp2-2:
 0px 3px 4px 0px rgba(0,0,0,.12);
$dp2-3:
 0px 1px 5px 0px rgba(0,0,0,.20);


$dp3-1:
 0px 3px 3px 0px rgba(0,0,0,.14);
$dp3-2:
 0px 3px 4px 0px rgba(0,0,0,.12);
$dp3-3:
 0px 1px 8px 0px rgba(0,0,0,.20);


$dp4-1:
 0px 2px 4px 0px rgba(0,0,0,.14);
$dp4-2:
 0px 4px 5px 0px rgba(0,0,0,.12);
$dp4-3:
 0px 1px 10px 0px rgba(0,0,0,.20);


$dp6-1:
 0px 6px 10px 0px rgba(0,0,0,.14);
$dp6-2:
 0px 1px 18px 0px rgba(0,0,0,.12);
$dp6-3:
 0px 3px 5px 0px rgba(0,0,0,.20);

$dp8-1:
 0px 8px 10px 1px rgba(0,0,0,.14);
$dp8-2:
 0px 3px 14px 3px rgba(0,0,0,.12);
$dp8-3:
 0px 4px 15px 0px rgba(0,0,0,.20);


$dp9-1:
 0px 9px 12px 1px rgba(0,0,0,.14);
$dp9-2:
 0px 3px 16px 2px rgba(0,0,0,.12);
$dp9-3:
 0px 5px 16px 0px rgba(0,0,0,.20);


$dp12-1:
 0px 12px 17px 2px rgba(0,0,0,.14);
$dp12-2:
 0px 5px 22px 4px rgba(0,0,0,.12);
$dp12-3:
 0px 7px 8px 0px rgba(0,0,0,.20);


$dp16-1:
 0px 16px 24px 2px rgba(0,0,0,.14);
$dp16-2:
 0px 6px 30px 5px rgba(0,0,0,.12);
$dp16-3:
 0px 8px 10px 0px rgba(0,0,0,.20);


$dp24-1:
 0px 24px 38px 3px rgba(0,0,0,.14);
$dp24-2:
 0px 9px 46px 8px rgba(0,0,0,.12);
$dp24-3:
 0px 11px 15px 0px rgba(0,0,0,.20);
